$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.body {
  background-color: #000000;
  font-size: 100px;
  margin-top: auto;
  max-width: none;
  padding: auto;
  text-align: center;
  // background-image: url

}

.container {
  height: 0px;
  margin: 0px;
  max-width: 10px;
  padding: none;
  text-align: center;
}

.square {
  border: 10px solid #000000;
  padding-top: 10px;
  font-size: 100px;
  // font-style: sans-serif;
  height: 150px;
  text-align: center;
  margin: 0px;
  // padding: 50px;
  width: 150px;
}
