$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.body {
  margin-right: auto;
  text-align: center;
}

.container {
  margin: auto;
  text-align: right;
}

.square {
  border: 10px solid #000000;
  font-size: 50px;
  font-style: sans-serif;
  height: 150px;
  text-align: center;
  margin: center;
  width: 150px;
}
