$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.body {
  margin-right: auto;
  text-align: center;
}

.container {
  text-align: right;
}
.square {
  border: 1px solid #000000;
  font-size: 50px;
  text-align: center;
  font-style: sans-serif;
  margin: auto;
  height: 100px;
  width: 100px;

}
